
JSF31KochFractalFX - startup/nbproject/private/configs/Run_in_Browser.properties

JSF31KochFractalFX - startup/nbproject/private/private.properties

JSF31KochFractalFX - startup/build/built-jar.properties
